<!doctype html>
<title>Stock Daily Prices</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Stock Daily Prices</h1>
  <div class=metanav>

    <h4>
    Please enter the stock ticker symbol (e.g. MSFT) and choose an option:
    </h4>

    <form id='userinfoform_lulu' method='post' action='index' >
      <p>
    Stock symbol: <input type='text' name='name_lulu' />
      </p>
      <p>
    {{question}} <br />
           <input type='radio' name='option_lulu' value={{ans1}} /> {{ans1}}
           <input type='radio' name='option_lulu' value={{ans2}} /> {{ans2}}
           <input type='radio' name='option_lulu' value={{ans3}} /> {{ans3}}
           <input type='radio' name='option_lulu' value={{ans4}} /> {{ans4}} 
           <br />
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
